<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_SPECIAL_USE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="com.termux.permission.RUN_COMMAND" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/hedgey1"
        android:label="Hitomi"
        android:roundIcon="@drawable/hedgey1"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight.DarkActionBar">
        <service
            android:name=".HedgehogOverlayService"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="specialUse">
            <property
                android:name="android.app.PROPERTY_SPECIAL_USE_FGS_SUBTYPE"
                android:value="floating_hedgehog_overlay" />
        </service>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="hitomicompanion"
                    android:host="auth"
                    android:pathPrefix="/callback" />
                <data
                    android:scheme="hitomicompanion"
                    android:host="auth"
                    android:pathPrefix="/oauth" />
                <data
                    android:scheme="agent1cai"
                    android:host="auth"
                    android:pathPrefix="/callback" />
                <data
                    android:scheme="agent1cai"
                    android:host="auth"
                    android:pathPrefix="/oauth" />
            </intent-filter>
        </activity>
    </application>
</manifest>
